* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import "../scss/header";
@import "../scss/home";
@import "../scss/service";
@import "../scss/about_us";
@import "../scss/all-services";
@import "../scss/all-project";
@import "../scss/video";
@import "../scss/email";
@import "../scss/footer";
@import "../scss/media";