.all-services {
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%) center top/1920px 490px no-repeat;
    padding: 100px 0 85px;
     .container {
      .row-1 {
            max-width: 1100px;
            margin: 0 auto;
            .col {
                &__title {
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 36px;
                    line-height: 53px;
                    color: #FFFFFF;
                    margin-bottom: 70px;
                }
                &__btn {
                    width: 200px;
                    height: 45px;
                    border: none;
                    background: #4985FF;
                    border-radius: 30px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    text-align: center;
                    color: #FFFFFF;
                    display: block;
                    outline: none;
                    cursor: pointer;
                    margin-left: auto;
                    margin-top: 10px;
                }
            }
        }

        .row-2 {
            position: relative;
            margin: 0 auto;
            &::before {
                position: absolute;
                content: '';
                width: 1110px;
                height: 1px;
                left: 50%;
                top: 100%;
                transform: translate(-50%);
                border-bottom: 1px solid #E0E0E0;
            }
            .col_1 {
                display: flex;
                justify-content: space-between;
                .wrapper {
                    margin-bottom: 85px;
                    &__img {
                        margin-bottom: 30px;

                    }
                    &__title {
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 22px;
                        color: #000000;
                        margin-bottom: 30px;
                    }
                    &__title1 {
                        color: #4985FF;
                    }
                    &__subtitle {
                        width: 350px;
                        height: 117px;
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 25px;
                        color: #999999;
                        margin-bottom: 30px;
                    }
                    &__descr {
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 20px;
                        text-decoration-line: underline;
                        color: #4985FF;
                    }
                }
            }
        }
    }
}